@page "/cellularlife"

<PageTitle>Cellular Life</PageTitle>

<h1>Game of Life</h1>


<pre class="console">@consoleText</pre>

@code {
    
    const int Width = 100;
    const int Height = 100;
    string consoleText = "Hello World!";

    protected override void OnInitialized(){
    for(int i = 0; i <= Width; i++)
    {
        Console.WriteLine(consoleText);
    }
    }

}
